body {
  background-color: #1e1e1f;
  color: white;
}

h1 {
  text-align: center;
}

.todo-wrapper {
  background-color: #343435;
  padding: 2%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(26, 25, 25);
  border-radius: 20px;
}

.todo-input {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgb(77, 77, 77);
  padding-bottom: 25px;
  margin-bottom: 25px;
  flex-direction: column;
}

.todo-input-item {
  margin-bottom: 15px;
  width: 100%;
}

.todo-input-button {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: space-between;
}


.primary-btn,
.secondaryBtn {
  padding: 10px;
  width: 48%; 
  margin-right: 0;
}

.todo-input-item label {
  margin-bottom: 10px;
  font-weight: bold;
}

.todo-input-item input {
  border: none;
  padding: 8px;
  width: 100%;
  border-radius: 20px;
}

.todo-input-item input:focus {
  outline: 2px solid #00B4D8;
}

.todo-input-button{
  margin-right: 10px;
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.primary-btn {
  background-color: #00B4D8;
  color: white;
  border-radius: 20px;
  border: none;
  margin-top: 32px;
  padding: 8px;
  width: 100px;
  cursor: pointer;
  margin-right: 10px; 
}

.primary-btn:hover {
  background-color: #0077B6;
}

.btn-area {
  margin-bottom: 10px;
}

.secondaryBtn {
  background-color: rgb(92, 92, 92);
  color: white;
  border-radius: 0px;
  border: none;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}

.btn-area .active {
  background-color: #00B4D8;
}

.todo-list {
  display: flex;
  flex-direction: column;
}

.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #414040;
  padding: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 2px 4px rgb(39, 38, 38);
  border-radius: 20px;
}

.todo-list-item h3 {
  font-size: 1.4em;
  color: #00B4D8;
  font-weight: bold;
  margin: 0px;
}

.todo-list-item p {
  margin-top: 8px;
  font-size: 1.2em;
  color: rgb(179, 178, 178);
}

.delete-icon {
  font-size: 1.3em;
  cursor: pointer;
  margin-left: 10px;
  margin-bottom: 5px;
}

.delete-icon:hover {
  color: red;
}

.check-icon {
  font-size: 1.3em;
  cursor: pointer;
  color: #00B4D8;
  margin-left: 10px;
  margin-bottom: 5px;
}

.check-icon:hover {
  color: #0077B6;
}
